<!--<app-header></app-header>-->
<div *ngIf="isloggedIn()">
    <app-sidebar></app-sidebar>
</div>

<div class="main">
    <router-outlet></router-outlet>
    <!--<app-footer></app-footer>-->
  </div>


<!--<app-login></app-login>
<app-register></app-register>-->