<h2>WEB STORE</h2>
<p>please login to start your session</p>
<form #loginForm="ngForm" class="form-group" action="" novalidate>
   
 <label for="username">Username</label>
 <input class="form-control" type="text" placeholder="Username" name="username" [(ngModel)]="user.username"  required
 #username="ngModel">
 <div class="danger" [hidden]="username.valid || username.pristine">
     required field*
 </div>
 <label for="password">Password</label>
 <input class="form-control" type="text" placeholder="Password" name="password" [(ngModel)]="user.password"  required
 #pass="ngModel">
 <div class="danger" *ngIf="pass.invalid && pass.dirty">
     required field*
 </div>
 <button [disabled]="loginForm.invalid" *ngIf="!submitting" class ="btn btn-primary" (click)="login()">login</button>
 <button disabled="loginForm.invalid" *ngIf="submitting" class ="btn btn-info">logging in...</button>
 

</form>
<p>Don't have an account?</p>
<p>Register
    <a routerLink="/auth/register">here </a>
</p>
<P> <a routerLink="/auth/forgot-Password">forgot password?</a></P>