
<h2>WEB STORE</h2>
<p>please register to start your WEB STORE</p>
<form #registerForm="ngForm" class="form-group" action="" novalidate>
   

 <label for="name">Name</label>
 <input class="form-control" type="text" placeholder="Name" name="name" [(ngModel)]="user.name"  required
 #name="ngModel">
 <div class="danger" [hidden]="name.valid || name.pristine">
     required field*
 </div>

 <label for="email">Email</label>
 <input class="form-control" type="text" placeholder="Email" name="email" [(ngModel)]="user.email"   email
 #email="ngModel">
 <div class="danger" *ngIf="email.errors && email.dirty">
        <div *ngIf="email.errors.required">
         required field*
        </div>
        <div *ngIf="email.errors.email">
         not a valid email
        </div>
    
    
     </div>


 <label for="phoneNumber">PhoneNumber</label>
 <input class="form-control" type="text" placeholder="PhoneNumber" name="phoneNumber" [(ngModel)]="user.phoneNumber" 
 #phoneNumber="ngModel">
 

 <label for="dob">Date Of Birth</label>
 <input class="form-control" type="text" placeholder="Date Of Birth" name="dob" [(ngModel)]="user.dob" 
 #dob="ngModel">
 

 <label for="gender">Gender</label>
 <input class="form-control" type="text" placeholder="Gender" name="gender" [(ngModel)]="user.gender"  
 #gender="ngModel">
 

 <label for="address">Address</label>
 <input class="form-control" type="text" placeholder="Address" name="address" [(ngModel)]="user.address"  
 #address="ngModel">
 



 <label for="username">Username</label>
 <input class="form-control" type="text" placeholder="Username" name="username" [(ngModel)]="user.username"  required
 #username="ngModel">
 <div class="danger" [hidden]="username.valid || username.pristine">
     required field*
 </div>


 <label for="password">Password</label>
 <input class="form-control" type="text" placeholder="Password" name="password" [(ngModel)]="user.password"  
 required minlength="6" #pass="ngModel">
 <div class="danger" *ngIf="pass.errors && pass.dirty">
    <div *ngIf="pass.errors.required">
     required field*
    </div>
    <div *ngIf="pass.errors.minlength">
     weak password
    </div>


 </div>
 

 <button [disabled]="registerForm.invalid" *ngIf="!submitting" class ="btn btn-primary" (click)="submit()">submit</button>
 <button disabled="registerForm.invalid" *ngIf="submitting" class ="btn btn-info">submitting...</button>
 

</form>
<p>Already Registered?</p>
<p>Back to
    <a routerLink=""> Login </a>
</p>
